.list {
  &__item {
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr;
    align-items: center;
    column-gap: to-rem(12px);

    padding: to-rem(12px) to-rem(8px);

    @each $style in $styles {
      $hoverColor: "0";
      @if ($style == dark) {
        $hoverColor: "400";
      }

      &.#{$style} {
        & .list__label {
          color: map-get($map: $primary, $key: $style);
        }

        & .list__icon {
          stroke: map-get($map: $primary, $key: $style);
          fill: map-get($map: $primary, $key: $style);
        }

        &:hover {
          background-color: map-get($map: $main, $key: #{$hoverColor});
        }
      }
    }
  }

  &__label {
    @include heading-5("regular");
  }

  &__icon {
    width: to-rem(16px);
    height: to-rem(16px);

    &.trail {
      justify-self: end;
    }
  }
}
