$base-font: 16px;

$transition: all 0.2s ease-in;
$styles: light, dark;

@function to-rem($size) {
  @return calc($size / 16px) * 1rem;
}

@function to-em($pixels, $context: $base-font) {
  @return $pixels / $context * 1em;
}

$prefixesBase: ("moz", "webkit");

@mixin prefix($property, $value, $prefixes: $prefixesBase) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }
  #{$property}: $value;
}

@import "./colors";
@import "./fonts";
